.header {
  padding: 144px 0 182px 0;
  height: 443px;
  font-style: italic;
  background: url(../img/header_fon_black.jpg) center center no-repeat;
}

.gday {
  margin-left: 254px;
  color: #333333;
  font-family: Verdana;
  font-size: 30px;
  text-transform: uppercase;
}

.title {
  margin-top: 10px;
  text-align: center;
  color: #333333;
  font-family: Verdana;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.position {
  margin-top: 10px;
  margin-left: 254px;
  color: #333;
  font-family: Verdana;
  font-size: 30px;
  text-transform: uppercase;
}

.menu {
  position: fixed;
  z-index: 999;
  max-height: 80px;
  width: 100px;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item a {
  text-align: center;
  color: white;
  font-family: "Open Sans";
  font-size: small;
  font-weight: bold;
}

.menu__item {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.menu__item:hover {
  background-color: lightgray;
}

.block-shadowed {
  position: relative;
  width: 350px;
  padding: 15px;
  border: 1px solid black;
  background: url(../img/shadowedItem_fon.png) center center/cover no-repeat;
}

.foto {
  display: block;
  margin: 0 auto;
}

.block-shadowed h2 {
  margin-top: 20px;
}

p {
  margin-top: 5px;
  color: #333333;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}

.text-shadow {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  z-index: 2;
  position: relative;
}

.white-block {
  width: 585px;
  padding: 25px;
  border: 1px solid black;
}

.line {
  width: 25px;
  height: 1px;
  margin: 15px 0 15px 13px;
  background: #000;
  border: 0;
}

.white-block h2 {
  margin-top: 10px;
  margin-left: 13px;
  line-height: 24px;
}

h3 {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.text {
  margin-top: 15px;
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*------ITEMS INTO EDUCATION------*/
.education__item {
  margin-top: 10px;
  position: relative;
}

.circle {
  position: absolute;
  left: -35px;
}

.education__item .text {
  max-width: 70%;
}

.years {
  position: absolute;
  right: -10px;
  top: 40%;
  color: #cccccc;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
}

/*/////////////////////////SECTION ABOUT ME///////////////////////////////////*/
.aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.aboutme .white-block {
  width: 585px;
  height: 450px;
}

/*//////////////////////////SECTION SKILLS AND EDUCATION///////////////////////////////////////////////////*/
.knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.knowledge .block-shadowed {
  height: 80%;
}

.bottomIcon {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.another-information {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 25px 0 25px 0;
}

a.work2:hover {
  background: url(../img/portfolio/1.jpg);
  z-index: 999;
}

a.work3:hover {
  background: url(../img/portfolio/2.jpg);
  z-index: 999;
}

a.work4:hover {
  background: url(../img/portfolio/4.jpg);
  z-index: 999;
}

a.work5:hover {
  background: url(../img/portfolio/any.jpg);
  z-index: 999;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-caption {
  margin-left: 2rem;
}

.portfolio .block-shadowed {
  width: 290px;
  min-height: 267px;
  margin-top: 15px;
  text-align: center;
  padding-top: 8%;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.portfolio-card {
  width: 290px;
}

.portfolio-card__icon {
  margin: 0 auto;
  display: block;
}

.portfolio-card__a {
  display: block;
  text-decoration: none;
}

.prev,
.next {
  width: 35px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.prev__img {
  background: center url(../img/icons/prev.png) no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.next__img {
  background: center url(../img/icons/next.png) no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.portfolio__image {
  z-index: 999;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 110%;
  height: 110%;
}

.portfolio__image img {
  width: 90%;
  max-height: 90%;
}

.none {
  display: none;
}

/*////////////////FOOTER/////////////////////////////*/
.footer {
  padding: 10px;
  margin-top: 20px;
  background-color: gray;
  min-width: 50px;
  color: white;
  text-align: center;
  font-family: "Open Sans";
  font-size: small;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1024px;
}

a,
a:hover {
  text-decoration: none;
}

.icon {
  width: 50px;
  height: 50px;
}

h2 {
  color: #333333;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
}
