.header {
   padding: 144px 0 182px 0;
   height: 443px;

   font-style: italic;

   background: url(../img/header_fon_black.jpg) center center no-repeat;
}
.gday {
   margin-left: 254px;
   color: #333333;
   font-family: Verdana;
   font-size: 30px;
   text-transform: uppercase;
}
.title {
   margin-top: 10px;
   text-align: center;
   color: #333333;
   font-family: Verdana;
   font-size: 48px;
   font-weight: 700;
   text-transform: uppercase;
}

.position {
   margin-top: 10px;
   margin-left: 254px;
   color: #333;
   font-family: Verdana;
   font-size: 30px;
   text-transform: uppercase;
}
