/*////////////////FOOTER/////////////////////////////*/
.footer {
   padding: 10px;
   margin-top: 20px;
   background-color: gray;
   min-width: 50px;
   color: white;
   text-align: center;
   font-family: "Open Sans";
   font-size: small;
}
